﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ServiceModel.Product.ProductService>

@{
    ViewBag.Title = "ProductList";
    var sess = HttpContext.Current.Session["CatFilter"] as List<ServiceModel.Category.CategoryService>;

    var token = Session["Token"].ToString();

    var supervisor = "";
    if (HttpContext.Current.Session["Role"] != null)
    {
        supervisor = Session["Role"].ToString();

    }


}

<h2>ProductList</h2>
@if (supervisor == "Supervisor")
{
    <p>
        @Html.ActionLink("Create New", "ProductCreate")
    </p>
}
<!-- #region Search Bar-->
<div>
    @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
    {
        <div class="glyphicon-search">

            <b>Search By Product Name </b>&nbsp; &nbsp;@Html.TextBox("search")&nbsp; &nbsp; &nbsp; &nbsp;
            <input type="submit" value="Search" class="btn-info" />
        </div>
    }
</div>
<!-- #endregion -->
<br />
<!-- #region Multiple Image , Import Excel and Page Size DRopDown-->

<div class="col-md-12">
    <div class="col-md-8">
        @if (supervisor == "Supervisor")
        {
            <div class="col-md-8">
                <fieldset class="pull-left">
                    @Html.ActionLink("Multiple Images Upload", "MultipleImages", "Product", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Import From Excel", "ImportFromExcel", "Product", null, new { @class = "btn btn-info" })
                </fieldset>
            </div>
        }
    </div>
    <div class="col-md-3 text-primary pull-right">
        @using (Html.BeginForm("ProductList", "Product", FormMethod.Get, new { id = "form1" }))
        {
            <div>
                Page Size @Html.DropDownList("pageSize") per Page
            </div>
        }
    </div>
</div>
<!-- #endregion -->

@if (supervisor != "Supervisor")
{
    <div class="pull-right">
        <i class="text-info btn-link">@Html.ActionLink("Cart " + Session["count"] + "", "MyOrder", "ShoppingCart")</i>
    </div>
}

<br />



<div class="col-sm-12 ">
    <!-- #region Filters  -->
    <div class="col-sm-2" style="border:1px solid black">
        <h4>Product Filters</h4>

        @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
        {
            <div>
                Price:<span id="spanOutput"></span>
                <div id="Slider"></div>
                <br />
                <div>
                    <span>
                        @Html.Label("Min"):
                        @Html.TextBox("MinPrice")
                    </span>
                    <br />
                    <span>
                        @Html.Label("Max"):
                        @Html.TextBox("MaxPrice")
                    </span>
                </div>
            </div>
            <br />
            <div>
                Category:

                @Html.Partial("_categoryFilter", ViewData["viewDataDict"] as ViewDataDictionary)

            </div>

            <input class="btn-sm btn-info" type="submit" value="Apply Filters" />
            @Html.ActionLink("Reset Filters", "ProductList", "Product", null, new { @class = "btn btn-sm btn-primary" })


        }
    </div> <!-- #endregion -->
    <div class="col-sm-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProdImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CatId)
                </th>
                <th>@Html.DisplayNameFor(model => model.First().UserId)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("ProductDelete", "Product", new { id = item.ProductId }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            &#8377; @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <img src="@Url.Content(item.ProdImg)" height="150" width="250" />
                        </td>
                        @*
                            <td>
                              @Html.DisplayFor(modelItem => item.ProdImg)
                            </td>
                        *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @if (supervisor == "Supervisor")
                            {
                                @Html.ActionLink("Edit", "ProductEdit", new { id = item.ProductId });
                                <text>&nbsp;</text>
                                @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId });
                                <input type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete @item.ProductName  ?')" class="btn-sm btn-danger" />

                            }
                            else
                            {
                                @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId });
                                <text>&nbsp;</text>
                                @Ajax.ActionLink("AddToCart", "AddToCart", "ShoppingCart", new { id = item.ProductId }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccess" });
                            }
                        </td>

                    </tr>
                }
            }

        </table>

    </div>
</div>



@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>

    <script type="text/javascript">
        function fnSuccess() {
            alert("Added To Cart");
            window.location.reload(true);
        }

        $(function () {
            $("#pageSize").change(function () {
                $("#form1").submit();
            });
        });

        $(function () {
         $("#search").autocomplete({

            source: function (request, response) {
                @*sessionStorage.setItem("Token", @token);*@
                $.ajax({
                    url: "https://localhost:44361/api/product",
                    dataType: "json",
                    type: 'GET',
                    headers: {
                        Authorization: 'Bearer @token'
                    },
                    data:{ query: $("#search").val() },

                    success: function (data) {

                        response($.map(data, function (item) {

                            return {
                                label: item.ProductName,
                                value: item.ProductName

                            };
                        }));
                    }

                });
            },
            //minLength: 2
        });

        });




    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var outputSpan = $('#spanOutput');
            var sliderDiv = $('#Slider');
            var MinPrice = $('#MinPrice').val();
            var MaxPrice = $('#MaxPrice').val();

            $('#Slider').slider({
                range: true,
                animate: true,

                min: 100,
                max: 9500,

                slide: function (event, ui) {
                    outputSpan.html('Rs. ' + ui.values[0] + '- Rs.' + ui.values[1]);
                },
                stop: function (event, ui) {
                    if (ui.values[0] == 100 && ui.values[1] == 100) {
                        $('#MinPrice').val(0);
                        $('#MaxPrice').val(0);
                    } else {
                        $('#MinPrice').val(ui.values[0]);
                        $('#MaxPrice').val(ui.values[1]);

                    }
                }


            });

            MinPrice = $('#MinPrice').val(sliderDiv.slider('values', 0));
            MaxPrice = $('#MaxPrice').val(sliderDiv.slider('values', 1));

        });
    </script>


}

@Html.PagedListPager(Model, page => Url.Action("ProductList",
    new
    {
        page,
        search = Request.QueryString["search"],
        minPrice = Request.QueryString["MinPrice"],
        maxPrice = Request.QueryString["MaxPrice"],
        cateDataQuery = sess,
        pageSize = ViewBag.psize


    }), new PagedListRenderOptions()
    {

        Display = PagedListDisplayMode.IfNeeded,
        MaximumPageNumbersToDisplay = 4,
        DisplayPageCountAndCurrentLocation = true

    }

)
