﻿
@{
    ViewBag.Title = "Admin";
    var user = Session["User"] as Nimap.DataAccess.Models.User;
}

<h2>Admin</h2>
<div class="jumbotron">
    <h2><b>ADMIN</b></h2>
    <h3 class="pull-right text-right"><b>Hi @user.FirstName  @user.LastName</b></h3>
</div>

<div class="center-block text-center">
    <h3>
        You Have Access To Category Mnagement, ,Click Here for Category List @Html.ActionLink("Category", "CategoryList", "Category")
    </h3>
</div>

<div class="center-block text-center">
    <h3>
        You Have Access To Role Mnagement, ,Click Here for Role List @Html.ActionLink("Roles", "RoleList", "Role")
    </h3>
</div>

