﻿
@{
    ViewBag.Title = "Supervisor";
    var user = Session["User"] as Nimap.DataAccess.Models.User;
    var FullName = user.FirstName + " " + user.LastName;

}

<h2>Supervisor</h2>

<div class="jumbotron">
    <h2 class="text-info"><b>Supervisor</b></h2>
    <h3 class="pull-right text-right"><b>Hi @FullName</b></h3>
</div>

<div class="center-block text-center">
    <h3>
        You Have Access To Product Management ,Click Here for Product List @Html.ActionLink("Product", "ProductList", "Product")
    </h3>
</div>
