﻿@model ServiceModel.Category.CategoryService

@{
    ViewBag.Title = "CategoryDetails";
}

<h2>CategoryDetails</h2>

<div>
    <h4>mvcCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CategoryEdit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "CategoryList")
</p>
