﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ServiceModel.Category.CategoryService>

@{
    ViewBag.Title = "CategoryList";
    var caterr = ViewBag.Status;
    var token = Session["Token"].ToString();
    
}

<h2>CategoryList</h2>
<p>
    @Html.ActionLink("Create New", "CategoryCreate")
</p>


<!--#region Search Bar -->


<div>
    @using (Html.BeginForm("CategoryList", "Category", FormMethod.Get))
    {
    <div class="glyphicon-search">
        <b>Search By Category Name </b>&nbsp; &nbsp;@Html.TextBox("search")&nbsp; &nbsp; &nbsp; &nbsp;
       
        <input type="submit" id="btnsearch" value="Search" class="btn-info" />
    </div>
    }

    <div class="col-md-3 text-primary pull-right">
        @using (Html.BeginForm("categoryList", "Category", FormMethod.Get, new { id = "form1" }))
        {
            <div>
                Page Size @Html.DropDownList("pageSize") per Page
            </div>
        }
    </div>
</div>
<!-- #endregion -->

<br />


@if (caterr != null)
{
    <div class="text-danger">
        @caterr
    </div>
}

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserId)
            </th>
            <th>ACTIONS</th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("CategoryDelete", "Category", new { id = item.CategoryId }, FormMethod.Post))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "CategoryEdit", new { id = item.CategoryId }) |
                        @Html.ActionLink("Details", "CategoryDetails", new { id = item.CategoryId }) |
                        <input type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete @item.CategoryName  ?')" class="btn-sm btn-danger" />
                    </td>
                </tr>
            }
        }

    </table>
</div>

@section Scripts{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#pageSize").change(function () {
                $("#form1").submit();
            });
        });

        //$(function () {
        //    $("#search").keyup(function () {
        //        $("#btnsearch").submit();
        //    });
        //});



        $("#search").autocomplete({

            source: function (request, response) {
                @*sessionStorage.setItem("Token", @token);*@
                $.ajax({
                    url: "https://localhost:44361/api/category",
                    dataType: "json",
                    type: 'GET',
                    headers: {
                        Authorization: 'Bearer @token'   /*sessionStorage.getItem("Token")*/
                    },
                    data:{ query: $("#search").val() },

                    success: function (data) {

                        response($.map(data, function (item) {

                            return {
                                label: item.CategoryName,
                                value: item.CategoryName

                            };
                        }));
                    }

                });
            },
            //minLength: 2
        });


    </script>
}



@Html.PagedListPager(Model, page => Url.Action("CategoryList",
    new
    {
        page,
        search = Request.QueryString["search"],
        pageSize = ViewBag.psize


    }), new PagedListRenderOptions()
    {

        Display = PagedListDisplayMode.IfNeeded,
        MaximumPageNumbersToDisplay = 4,
        DisplayPageCountAndCurrentLocation = true

    }

)
