﻿@model List<ServiceModel.Account.UserRoleService>


@{
    var roleId = ViewBag.roleId;
    var roleName = ViewBag.RoleName;
}

<h3>Users In @roleName</h3>

@using (Html.BeginForm("AddRoleToUsers", "Role", new { roleid = @roleId }, FormMethod.Post))
{





    for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(modelItem => Model[i].UserId)
        @Html.HiddenFor(modelItem => Model[i].UserName)

        <div class="form-group">
            @Html.CheckBoxFor(modelItem => Model[i].IsSelected)
            @Html.DisplayFor(modelItem => Model[i].UserName)

        </div>
    }

    <input type="submit" value="Update USer to Role" class="btn-info" />

}

